body {
background-color: #FF1493;

}

h1 {
	color: #FFD700;
	text-align: center; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 150px;
	line-height: 120px;
	padding-top: 60px;
	padding-bottom:0px;

}

h2 {

	color:#FFFFFF;
	text-align: center; 
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 60px;
	padding-bottom: 200px;
}

p {

color: #000000;
text-align: center; 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 30px;

	}